<!-- I think on this page we'll just open to your gists by default-->

<!-- remove this stuff at the end? -->
{{#if gists}}
  <h3>Your Gists:</h3>
{{/if}}
<ul class='gists col12'>
{{#each gists}}
  <li>
    {{#if this.description}}
    <div class='col8'>
      <a href='/{{ this.id }}/{{this.filename}}' class=''>{{ this.description }}</a><br>
    </div>
    <div class='col4'>
        <small class='fr'>on {{ this.time }}</small>
    </div>
    {{else}}
    <div class='col8'>
      {{#each this.files}}
        <a href="{{../this.id}}/{{@key}}">{{@key}}</a>	
      {{/each}}
    </div>
    <div class='col4'>
        <small class='fr'>on {{ this.time }}</small>
    </div>
    {{/if}}
  </li>
{{/each}}
</ul>
<div class='row3'>
{{#if prev}}
  <a class='prev' href='/?p={{prev}}'>&laquo; prev</a>
{{/if}}
{{#if next}}
  <a class='next' href='/?p={{next}}'>next &raquo;</a>
{{/if}}
</div>
