{{#if gists}}
  <h2>Your Gists:</h2>
{{/if}}
<ul>
{{#each gists}}
  {{#if this.description}}
    <li><a href='/{{ this.id }}'>{{ this.description }}</a></li>
  {{else}}
    <li><a href='/{{ this.id }}'>{{ this.id }}</a></li>
  {{/if}}
{{/each}}
</ul>
{{#if prev}}
  <a href='/?p={{prev}}'>&laquo; prev</a>
{{/if}}
{{#if next}}
  <a href='/?p={{next}}'>next &raquo;</a>
{{/if}}
