<!-- I think on this page we'll just open to your gists by default-->
{{#if session.accessToken}}
  <nav class='pin-bottom margin-auto col7'>
    <div class='pill bottom1 fl'>
       <a class='btn' href='/'>Your gists</a><!--
        --><a class='btn' href='/new'>New gist</a><!--
        --><a class='btn' href='https://github.com/jshawl/gistalt/issues/new'>Submit feedback</a>
    </div>
    <div class='pill bottom1 fr'>
        <a class='btn' href='/logout'>Logout</a>
    </div>
  </nav>
  {{/if}}


<!-- remove this stuff at the end? -->
{{#if gists}}
  <h3>Your Gists:</h3>
<ul class='gists col12'>
{{#each gists}}
  <li>
    {{#if this.description}}
    <div class='col8'>
      <a href='/{{ this.id }}/{{this.filename}}' class=''>{{ this.description }}</a><br>
    </div>
    <div class='col4'>
        <small class='fr'>on {{ this.time }}</small>
    </div>
    {{else}}
    <div class='col8'>
      {{#each this.files}}
        <a href="{{../this.id}}/{{@key}}">{{@key}}</a>	
      {{/each}}
    </div>
    <div class='col4'>
        <small class='fr'>on {{ this.time }}</small>
    </div>
    {{/if}}
  </li>
{{/each}}
</ul>
<div class='row3'>
{{#if prev}}
  <a class='prev' href='/?p={{prev}}'>&laquo; prev</a>
{{/if}}
{{#if next}}
  <a class='next' href='/?p={{next}}'>next &raquo;</a>
{{/if}}
</div>
{{else}}
<form action="/update" method="post">
  <input class='col6 margin1r' type='text' name='description' value='Gistalt is a better way to write gists' placeholder="Enter Description...">
{{#if owner}}
    {{#if gist.public}}
    {{else}}
    <small class='col5 fr js-by'>
    by {{gist.owner.login}}
    | 
    Private
    |
    Forks: {{gist.forks.length}}
    |
    Revisions: {{gist.history.length}}
    </small>
    {{/if}}

  {{else}}
  {{#unless session.currentUser}}
      <nav class='pin-bottom margin-auto col7'>
        <div class='pill bottom1 fr'>
          <a class='btn-main btn' href='/login'>Log In with GitHub</a>
        </div>
      </nav>
  {{/unless}}
  {{/if}}

<div class='row3 clearfix'>

  <input type="hidden" value="Gistalt.md" name="oldFilename">
  <input class='filename col7 margin1r' type="text" value="Gistalt.md" name="filename">
  <input type="hidden" value="{{gist.id}}" name="id">
</div>
  <br><br>
  <textarea id='content' class='file col8' name="content" style='display:none'>{{content}}</textarea>
</form>
{{/if}}
