<!-- I think on this page we'll just open to your gists by default-->

<!-- remove this stuff at the end? -->
{{#if gists}}
  <h1>Your Gists:</h1>
{{/if}}
<ul class='gists'>
{{#each gists}}
  <li>
    {{#if this.description}}
      <a href='/{{ this.id }}' class='gist-title'>{{ this.description }}</a><br>
    {{/if}}
      {{#each this.files}}
        <a href="{{../this.id}}/{{@key}}">{{@key}}</a>	
      {{/each}}
      <small>on {{ this.time }}</small>
  </li>
{{/each}}
</ul>
{{#if prev}}
  <a href='/?p={{prev}}'>&laquo; prev</a>
{{/if}}
{{#if next}}
  <a href='/?p={{next}}'>next &raquo;</a>
{{/if}}
