<a href='https://github.com/login/oauth/authorize?redirect_uri=http://localhost:3000/callback&scope=gist&client_id=8b7a05423765a268c615' class=''>Log in with GitHub</a>

{{#each gists}}
  {{#if this.description}}
    <li><a href='/{{ this.id }}'>{{ this.description }}</a></li>
  {{else}}
    <li><a href='/{{ this.id }}'>{{ this.id }}</a></li>
  {{/if}}
{{/each}}
