{{#if session.accessToken}}
  <nav class='pin-bottom margin-auto col7'>
    <div class='pill bottom1 fl'>
        <a class='btn' href='https://github.com/hivemindworks/gistalt/issues/new'>Submit feedback</a><!--
        --><a class='btn' href='/logout'>Logout</a>
    </div>
    <div class='pill bottom1 fr'>
       <a class='btn' href='/'>Your gists</a><!--
        --><a class='btn' href='/new'>New gist</a>
    </div>
  </nav>
{{/if}}


<!-- remove this stuff at the end? -->
{{#if session.accessToken}}
<ul class='gists col12'>
{{#if gists}}
  {{#each gists}}
    <li>
      {{#if this.description}}
	<div class='col8'>
	  <a href='/{{ this.id }}/{{this.filename}}' class=''>{{ this.description }}</a>
	  {{#unless this.public}}
	    <span class='public-private'><span class="icon lock"></span></span>
	  {{/unless}}
	</div>
      {{else}}
	<div class='col8'>
	  {{#each this.files}}
	    <a href="{{../this.id}}/{{@key}}">{{@key}}</a>	
	  {{/each}}
	  {{#unless this.public}}
	    <span class='public-private'><span class="icon lock"></span></span>
	  {{/unless}}
	</div>
      {{/if}}
      <div class='col4'>
	  <small class='fr'>on {{ this.time }}</small>
      </div>
    </li>
  {{/each}}
  {{else}}
    <li><a href='/new'>Create your first gist</a></li>
  {{/if}}
</ul>
<div class='row3'>
{{#if prev}}
  <a class='prev' href='/?p={{prev}}'>&laquo; prev</a>
{{/if}}
{{#if next}}
  <a class='next' href='/?p={{next}}'>next &raquo;</a>
{{/if}}
</div>
{{else}}
<form action="/update" method="post">
{{#if owner}}
    {{#if gist.public}}
    {{else}}
    <small class='col5 fr js-by'>
    by {{gist.owner.login}}
    | 
    Private
    |
    Forks: {{gist.forks.length}}
    |
    Revisions: {{gist.history.length}}
    </small>
    {{/if}}

  {{else}}
  {{#unless session.currentUser}}
      <nav class='pin-bottom margin-auto col7'>
        <div class='pill bottom1 fr'>
          <a class='btn-main btn js-show-progress' href='/login'>Log In with GitHub</a>
        </div>
      </nav>
  {{/unless}}
  <input class='col7 margin1r js-description' type='text' name='description' value='Gistalt is a better way to write gists' placeholder="Enter Description...">
{{/if}}

<div class='row3 clearfix'>

  <input type="hidden" value="Gistalt.md" name="oldFilename">
  <input class='js-filename filename col7 margin1r' type="text" value="Gistalt.md" name="filename">
  <input type="hidden" class='js-id' value="{{gist.id}}" name="id">
</div>
  <br><br>
  <textarea id='content' class='file col8 js-content' name="content" style='display:none'>
Gistalt is a minimal interface for writing, forking, and sharing gists from gist.github.com. By default, **everything is editable and forkable**. Go ahead, try it out!

Gistalt is Markdown by default, and works as a live preview. For more information, check out [the Github Flavored Markdown Documentation](https://help.github.com/articles/github-flavored-markdown/).

We're adding new features every day: Check out [our progress](https://github.com/hivemindworks/gistalt/issues) to see what we're working on or to submit a feature request.






Gistalt is made with ♥ by [@jshawl](https://twitter.com/jshawl) & [@duncangraham](https://twitter.com/duncangraham)
  </textarea>
</form>
{{/if}}
