{{#unless owner}}
  {{#if session.currentUser }}
    <form method="post" action="/fork">
      <input type="hidden" value="{{gist.id}}" name="id">
      <input type="hidden" value="{{filename}}" name="filename">
      <button type="submit">Fork</button>
    </form>
  {{/if}}
{{/unless}}


<form action="/update" method="post">
<div class='row3 clearfix'>
  <input type="hidden" value="{{filename}}" name="oldFilename">
  <input class='filename col4' type="text" value="{{filename}}" name="filename">
  <input type="hidden" value="{{gist.id}}" name="id">
  <input class='description col4' type='text' name='description' value='{{gist.description}}' placeholder="Enter Description...">
  <div class='col4'>
    {{#if gist.public}}
    {{else}}
      <small class='js-by fr'>by {{gist.owner.login}}
      <br/>
      <small class='fr'>Private</small>
      <br/>
      <a class='fr' href='{{gist.html_url}}'>View on GitHub</a></small>
	Forks: {{gist.forks.length}}<br>
	Revisions: {{gist.history.length}}
    {{/if}}
  </div>
</div>
  {{#if owner}}
    <button class='cb' type="submit">Update File</button>
  {{else}}
    {{#unless session.currentUser}}
      &middot; <small><a href='/login'>Log In to Update</a></small>
    {{/unless}}
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
    <script>
    $.getJSON('https://api.github.com/gists/{{gist.id}}', function( res ){
      var content = res.files["{{filename}}"].content
      $('textarea').html( content )
      $('.js-by').html( "by "+ res.owner.login )
    })
    </script>
  {{/if}}
  <br><br>
  <textarea id='content' class='file col12' name="content" style='display:none'>{{content}}</textarea>
</form>


