

{{#unless owner}}
<br>
<form method="post" action="/fork">
  <input type="hidden" value="{{gist.id}}" name="id">
  <input type="hidden" value="{{filename}}" name="filename">
  <button type="submit">Fork</button>
</form>
{{/unless}}
<br>
<br>

  {{#unless gist.public}}
    <div class='private'>Private</div>
  {{/unless}}
  <form method="post" action="/delete">
    <input type="hidden" value="{{gist.id}}" name="id">
    <button type='submit'>Delete</button>
  </form>
<form method="post" action="/update">
  <input type='text' name='description' value='{{gist.description}}' class='description'>
  <input type="hidden" value="{{gist.id}}" name="id">
  <input class='filename' type="text" value="{{filename}}" name="filename">
  <input type="hidden" value="{{filename}}" name="oldFilename">
  <small>by {{gist.owner.login}}</small>
  &middot; <a href='{{gist.html_url}}'>View on GitHub</a><br>
  <br>
  <br>
  <textarea class='col12 pad4' name="content">{{content}}</textarea>
  <br>
  {{#if owner}}
    <button type="submit">Update File</button>
  {{else}}
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
    <script>
    $.getJSON('https://api.github.com/gists/{{gist.id}}', function( res ){
      var content = res.files["{{filename}}"].content
      $('textarea').html( content )
    })
    </script>
  {{/if}}
</form>


