{{#unless owner}}
  {{#if session.currentUser }}
    <form method="post" action="/fork">
      <input type="hidden" value="{{gist.id}}" name="id">
      <input type="hidden" value="{{filename}}" name="filename">
      <button type="submit">Fork</button>
    </form>
  {{/if}}
{{/unless}}


<form action="/update" method="post">
<div class='row3 clearfix'>
  <input type="hidden" value="{{filename}}" name="oldFilename">
  <input class='filename ' type="text" value="{{filename}}" name="filename">
  <input type="hidden" value="{{gist.id}}" name="id">
  <input class='description ' type='text' name='description' value='{{gist.description}}' placeholder="Enter Description...">
</div>
  {{#if owner}}
  <div class='pin-topleft col2 top15 margin0'>
    {{#if gist.public}}
    {{else}}
    <small class='js-by'>by {{gist.owner.login}}
    <br/>
    Private
    <br/>
    Forks: {{gist.forks.length}}
    <br/>
    Revisions: {{gist.history.length}}
    </small>
    {{/if}}

    <div>
      <a class='btn' href='{{gist.html_url}}'>View on GitHub</a>
      <a href='#' type='submit' data-saved="true" data-submit="form" class='btn btn-main'>Save</a>
    </div>
    <small>Last Saved: <span class='js-updated-at'>{{gist.updated_at}}</span></small>
    </div>
  {{/if}}
  {{#if owner}}
    <button class='cb js-hide' type="submit">Update File</button>
  {{else}}
    {{#unless session.currentUser}}
      &middot; <small><a href='/login'>Log In to Update</a></small>
    {{/unless}}
  {{/if}}
  <br><br>
  <textarea id='content' class='file col8' name="content" style='display:none'>{{content}}</textarea>
</form>
{{#unless session.currentUser}}
  <script type='text/javascript'>
  window.onload = function(){
    $.getJSON('https://api.github.com/gists/{{gist.id}}', function( res ){
      var content = res.files["{{filename}}"].content
      $('textarea').html( content )
      cm.getDoc().setValue(content);
      $('.js-by').html( "by "+ res.owner.login )
    })
  }
  </script>
{{/unless}}


