{{#unless owner}}
  {{#if session.currentUser }}
    <form method="post" action="/fork">
      <input type="hidden" value="{{gist.id}}" name="id">
      <input type="hidden" value="{{filename}}" name="filename">
      <button type="submit">Fork</button>
    </form>
  {{/if}}
{{/unless}}

<div class='row2'>
  <input type="hidden" value="{{filename}}" name="oldFilename">
  <input class='filename col6' type="text" value="{{filename}}" name="filename">
  <input type="hidden" value="{{gist.id}}" name="id">
  <input class='description col6' type='text' name='description' value='{{gist.description}}' placeholder="Enter Description...">
</div>
<div class='row1'>
{{#if gist.public}}
{{else}}
  <small class='private col8'>Private</small>
  <div class='col4'>
  <small class='js-by fr'>by {{gist.owner.login}}
  &middot; <a class='fr' ref='{{gist.html_url}}'>View on GitHub</a></small>
  </div>
{{/if}}
</div>


{{!--
  {{#if owner}}
    <button type="submit">Update File</button>
  {{else}}
    {{#unless session.currentUser}}
      &middot; <small><a href='/login'>Log In to Update</a></small>
    {{/unless}}
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
    <script>
    $.getJSON('https://api.github.com/gists/{{gist.id}}', function( res ){
      var content = res.files["{{filename}}"].content
      $('textarea').html( content )
      $('.js-by').html( "by "+ res.owner.login )
    })
    </script>
  {{/if}}
--}}
  <br><br>
  <textarea id='content' class='file col12' name="content" style='display:none'>{{content}}</textarea>
</form>


