{{#if owner}}
<form action="/update" method="post" class='js-submit'>
<div class='of-auto bottom2'>
  <input class='col6 js-description' type='text' name='description' value='{{gist.description}}' placeholder="What are you writing about?">
  <div class='meta col6'>
    <small class='fr'>
      &nbsp; | <span class='icon duplicate'></span>Forks: {{gist.forks.length}} &nbsp;| <span class='icon history'></span>Revisions: {{gist.history.length}}
    </small>
    <small class="js-public-private fr">
      {{#if gist.public}}
         &nbsp; Public 
      {{else}}
        <span class='public-private'><span class="icon lock"></span></span>Private
      {{/if}}
    </small>
    <!-- 
        If you're writing, you know you're the author.
        we should only show this on the preview page    
        <small class='js-by fr'>by {{gist.owner.login}} &nbsp; | </small>
    -->
  </div>
</div>
  <div class='bottom1 of-auto'>
    <input type="hidden" value="{{filename}}" name="oldFilename">
    <input class='js-filename filename col12 margin1r' type="text" value="{{filename}}" name="filename">
    <input type="hidden" class="js-id" value="{{gist.id}}" name="id">
  </div>
  {{#if renderMarkdown}}
    <div class='file js-render-markdown rendered-markdown'>{{content}}</div>
  {{else}}
    {{#if owner}}
      <textarea id='content' class='file js-content' filename="{{filename}}" name="content" style='display:none'>{{content}}</textarea>
    {{else}}
      <div class='file js-render-markdown rendered-markdown'>{{content}}</div>
    {{/if}}
  {{/if}}
</form>
{{else}}
    <form method="post" class='js-do-fork' action="/fork">
      {{#if gist.description}}
	<input class='col6 js-description' type='text' name='description' value='{{gist.description}}' placeholder="What are you writing about?">
      {{else}}
	<input class='col6 js-description' type='text' name='description' value='{{gist.description}}'>
      {{/if}}
      <div class='row3 clearfix'>
	<input type="hidden" value="{{filename}}" name="oldFilename">
	<input class='js-filename filename col7 margin1r' type="text" value="{{filename}}" name="filename">
	<input type="hidden" class="js-id" value="{{gist.id}}" name="id">
      </div>
      <div class='meta col12 bottom2'>
      <small>by </small>
    <small class='js-by'>{{gist.owner.login}} &nbsp; | </small>
      <small> | </small>
    <small class="">
      {{#if gist.public}}
         &nbsp; Public 
      {{else}}
        <span class='public-private'><span class="icon lock"></span></span>Private
      {{/if}}
    </small>
    <small>
      &nbsp; | <span class='icon duplicate'></span>Forks: {{gist.forks.length}} &nbsp;| <span class='icon history'></span>Revisions: {{gist.history.length}}
    </small>
  </div>
      {{#if renderMarkdown}}
	<div class='file js-render-markdown rendered-markdown'>{{content}}</div>
      {{/if}}
      {{#if owner}}
	<textarea id='content' class='file js-content' filename="{{filename}}" name="content" style='display:none'>{{content}}</textarea>
      {{else}}
	<div class='file js-render-markdown rendered-markdown'>{{content}}</div>
      {{/if}}
    </form>
{{/if}}


<nav class='pin-bottom margin-auto col7'>
  {{#if session.accessToken}}
  <div class='ta-center'>
    <div class='pill bottom1 fr small-100'>
    {{#if renderMarkdown}}
      <a class='btn' href='/{{gist.id}}/{{filename}}'>Edit</a>
    {{else}}
      {{#if owner}}
	<a href='#' type='submit' data-saved="true" data-submit="form.js-submit" class='small-50 btn btn-main js-save js-show-progress'>Save</a><!--
     --><a href='#' type='submit' data-submit="form.js-do-delete" class='small-50 btn btn-main btn-delete js-delete'>Delete</a>
      {{else}}
	 <a href='#' type='submit' data-saved="true" data-submit="form.js-do-fork" class='small-50 btn btn-main js-fork js-show-progress'>Fork</a>
      {{/if}}
    {{/if}}
    </div>
    <div class='pill bottom1 fl'>
        <a class='btn' href='https://github.com/gistalt/gistalt/issues/new'>Submit feedback</a><!--
     --><a class='btn' href='/logout'>Logout</a><!--
       --><a class='btn js-gist-html-url small-hide' href='{{gist.html_url}}'>View on GitHub</a><!--
	{{#unless renderMarkdown}}
	  --><a class='btn' href='/{{gist.id}}/{{filename}}/preview'>Preview</a><!--
	{{/unless}}
	-->
    </div>
    <div class='pill bottom1'>
      <a class='btn' href='/'>Your gists</a><!--
      --><a class='btn' href='/new'>New gist</a>
    </div>
  </div>
  {{else}}
    <div class='pill bottom1 fr'>
      <a class='btn-main btn js-show-progress' href='/login'>Log In with GitHub</a>
    </div>
    <script type='text/javascript'>
    window.onload = function(){
      $.getJSON('https://api.github.com/gists/{{gist.id}}', function( res ){
	var content = res.files["{{filename}}"].content
	$('textarea').html( content )
	$('.js-by').html( res.owner.login )
	$('.js-forks').html( res.forks.length )
	$('.js-revisions').html( res.history.length )
	$('.js-public-private').html( res.public ? "Public" : "Private" )
	$('.js-gist-html-url').attr('href', res.html_url )
	gistalt.els.description.value = res.description
	var toRender = document.querySelector('.js-render-markdown')
	toRender.innerHTML = marked( content ) 
      })
    }
    </script>
  {{/if}}
  </nav>
<form method="post" action="/delete" class='js-do-delete'>
  <input type="hidden" value="{{gist.id}}" name="id">
</form>
<script src='/js/marked.js'></script>
