{{#unless owner}}
  {{#if session.currentUser }}
    <form method="post" action="/fork">
      <input type="hidden" value="{{gist.id}}" name="id">
      <input type="hidden" value="{{filename}}" name="filename">
      <button type="submit">Fork</button>
    </form>
  {{/if}}
{{/unless}}


<form action="/update" method="post">
  <input class='col6 margin1r' type='text' name='description' value='{{gist.description}}' placeholder="Enter Description...">
{{#if owner}}
    {{#if gist.public}}
    {{else}}
    <small class='col5 fr js-by'>
    by {{gist.owner.login}}
    | 
    Private
    |
    Forks: {{gist.forks.length}}
    |
    Revisions: {{gist.history.length}}
    </small>
    {{/if}}

<div class='col2 margin0 pin-topleft top3'>
    <!-- <small>Saved: <span class='js-updated-at'>{{gist.updated_at}}</span></small>-->
    <a href='#' type='submit' data-saved="true" data-submit="form" class='btn btn-main'>Save</a>
    <a class='btn' href='{{gist.html_url}}'>View on GitHub</a>

</div>
  {{else}}
<div class='col2 pin-topright top3'>
    {{#unless session.currentUser}}
      <a class='btn-main btn' href='/login'>Log In to Update</a>
    {{/unless}}
</div>
  {{/if}}

<div class='row3 clearfix'>

  <input type="hidden" value="{{filename}}" name="oldFilename">
  <input class='filename col7 margin1r' type="text" value="{{filename}}" name="filename">
  <input type="hidden" value="{{gist.id}}" name="id">
</div>
  <br><br>
  <textarea id='content' class='file col8' name="content" style='display:none'>{{content}}</textarea>
</form>
{{#unless session.currentUser}}
  <script type='text/javascript'>
  window.onload = function(){
    $.getJSON('https://api.github.com/gists/{{gist.id}}', function( res ){
      var content = res.files["{{filename}}"].content
      $('textarea').html( content )
      cm.getDoc().setValue(content);
      $('.js-by').html( "by "+ res.owner.login )
    })
  }
  </script>
{{/unless}}


